RewriteEngine On

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^edit-post/([0-9]+) edit-post.php?id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^delete-post/([0-9]+) delete-post.php?id=$1 [NC,L]