@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

/*general styles & reset*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

body {
    background-color: #1e1e1e;
    color: white;
}

button {
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}

a {
    color: cornflowerblue;
}

/*login, register & landing page container*/
.content-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*landing page*/
#landing {
    text-align: center;
    margin: 0 0 10% 0;
}

#landing img {
    height: 80px;
    opacity: .4;
    margin: 0 0 100px 0;
}

#landing h1 {
    font-size: 26px;
    color: rgba(255, 255, 255, .4);
    font-weight: 200;
    margin: 0 0 5px 0;
}

#landing h1 span {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

#landing h3 {
    font-size: 16px;
    color: white;
    font-weight: 200;
    margin: 0 0 40px 0;
}

#landing #button-container {
    display: flex;
    justify-content: center;
}

#landing #button-container #button-login {
    font-size: 16px;
    background-color: #52297B;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 10px 0 0;
}

#landing #button-container #button-register {
    font-size: 16px;
    background-color: rgba(255, 255, 255, .1);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.button-purple {
    background-color: rgba(124, 106, 174, 1);
    color: white;
}

/* ===== general form styles ===== */
.form {
    margin: 0 0 10% 0;
}

.form .form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.form .form-title h2 {
    font-size: 32px;
    font-weight: 200;
    color: white;
}

.form .form-title img {
    height: 40px;
    opacity: .2;
}

.form .form-controls {
    display: flex;
    flex-direction: column;
}

.form .form-controls label {
    font-weight: 600;
    font-size: 16px;
    color: grey;
    margin: 0 0 5px 0;
}

.form .form-controls input {
    background-color: #292929;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.form .form-controls textarea {
    background-color: #292929;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.form .form-controls input[placeholder], .form .form-controls textarea[placeholder] {
    color: #696969;
}

.form .form-preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form .form-preview .showcase {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 0 0 15px;
    border-radius: 4px;
    background-color: #292929;
    box-sizing: border-box;
    border: 2px solid grey;
}

.form input[type=file] {
    max-width: 250px;
}

.form .form-error {
    color: rgba(202, 65, 46, 1);
    margin: 15px 0 0 0;
}

.form .form-button {
    padding: 10px 25px;
    background-color: #52297B;
    color: white;
    margin: 25px 0 0 0;
    border-radius: 4px;
}

.form .form-tooltip {
    font-size: 11px;
    color: grey;
    margin: 5px 0 0 0;
}

.back-button {
    background-color: #292929;
    color: rgba(255, 255, 255, .4);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 0 20px 0;
}

/* ===== dashboard ===== */
#dashboard-container {
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0 0;
}

/*side bar*/
#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rebeccapurple;
}

#side-bar img {
    height: 50px;
    width: 50px;
    opacity: .2;
}

#side-bar .button-logout {
    background-color: #52297B;
    color: #ffffff;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/*main content*/
#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0 0;
    height: 100vh;
}

#title-bar {
    display: flex;
    padding: 25px;
}

#title-bar h2 {
    font-size: 28px;
    color: white;
}

#title-bar .new-post-button {
    background-color: #292929;
    color: rgba(255, 255, 255, .4);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 0 0 20px;
}

#posts-container {
    padding: 0 25px 15px 25px;
    box-sizing: border-box;
    overflow-x: auto;
    width: 100%;
}

#posts-container .post {
    padding: 20px;
    background-color: #292929;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    width: 32%;
    margin: 0 0 10px 0;
}

.grid-sizer {
    width: 30%;
}

#posts-container .post .controls-signature-container {
    display: flex;
    justify-content: space-between;
}

#posts-container .post .controls-signature-container .signature {
    display: flex;
    align-items: center;
}

#posts-container .post .controls-signature-container .signature .timestamp {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 255, 255, 1);
}

#posts-container .post .controls-signature-container .signature span {
    color: rgba(255, 255, 255, .2);
    margin: 0 5px;
}

#posts-container .post .controls-signature-container .signature .author {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}

#posts-container .post .controls-signature-container .controls {
    display: flex;
}

#posts-container .post .controls-signature-container .controls .delete {
    background-color: #393939;
    color: rgba(255, 255, 255, .6);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 0 5px 0 0;
}

#posts-container .post .controls-signature-container .controls .edit {
    background-color: #393939;
    color: rgba(255, 255, 255, .6);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.edited {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: #1e1e1e;
    color: grey;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 0 0 0 5px;
}

#posts-container .post .thumbnail {
    height: 175px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin: 0 0 20px 0;
}

#posts-container .post .text {
    margin: 0 0 20px 0;
}

#posts-container .post .text h2 {
    font-size: 24px;
    color: white;
    margin: 0 0 10px 0;
}

#posts-container .post .text p {
    font-size: 16px;
    color: grey;
}

/*activity-list*/
#activity-bar {
    padding: 25px;
    background-color: #292929;
}

#activity-bar h2 {
    font-size: 24px;
    font-weight: 200;
    color: white;
}

#participant-list {
    margin: 15px 0 0 0;
    padding: 0 80px 0 0;
}

#participant-list .participant {
    display: flex;
}

#participant-list .participant:not(:last-child) {
    margin: 0 0 15px 0;
}

#participant-list .participant .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 10px 0 0;
}

#participant-list .participant .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#participant-list .participant .text p {
    font-size: 11px;
    color: rgba(255, 255, 255, .4);
    min-width: 80px;
}

#participant-list .participant .text h5 {
    font-size: 16px;
    color: white;
}