/*general styles & reset*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

body {
    background-color: rgba(20, 20, 20, 1);
    color: rgba(255, 255, 255, 1);
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

a {
    color: cornflowerblue;
}

/*login, register & landing page container*/
.content-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*components*/
/*button*/
.button {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 300ms;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*icon button*/
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 300ms;
}

.icon:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*landing page*/
#landing {
    text-align: center;
}

#landing img {
    height: 100px;
    opacity: 0.1;
    margin-bottom: 40px;
}

#landing h1 {
    font-size: 32px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

#landing h1 span {
    opacity: 1;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

#landing h3 {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

#landing #buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#landing #buttons #login {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

#landing #buttons #register {
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
}

/* forms */
form {
    width: 100%;
    max-width: 480px;
}

form .titlebar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

form .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

form .titlebar img {
    height: 40px;
    opacity: 0.2;
    margin-left: auto;
}

form .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

form .input {
    display: flex;
    flex-direction: column;
}

form .preview {
    display: flex;
    justify-content: space-between;
}

form .preview .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form .preview .showcase {
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background-color: #292929;
    box-sizing: border-box;
    border: 2px solid grey;
}

form input[type="file"] {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

form input[type="file"]::file-selector-button {
    all: unset;
    cursor: pointer;
    background-color: rgba(40, 40, 40, 1);
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 20px;
}

form label {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 5px 0;
}

form .input input,
form .input textarea {
    all: unset;
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
    padding: 14px 18px;
    border-radius: 8px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 300ms;
}

form .input input::placeholder,
form .input textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

form .input input:focus,
form .input textarea:focus {
    transform: scale(1.01);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

form .form-error {
    color: rgba(202, 65, 46, 1);
    margin: 15px 0 0 0;
}

form #submit {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

form .form-tooltip {
    font-size: 11px;
    color: grey;
    margin: 5px 0 0 0;
}

/* ===== dashboard ===== */
#dashboard-container {
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0 0;
}

/*side bar*/
#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rebeccapurple;
}

#side-bar img {
    height: 50px;
    width: 50px;
    opacity: 0.2;
}

#side-bar .button-logout {
    background-color: #52297b;
    color: #ffffff;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/*main content*/
#main {
    overflow-x: auto;
}

#posts-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

#title-bar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(15px);
}

#title-bar h2 {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

#title-bar .new-post-button {
    background-color: #292929;
    color: rgba(255, 255, 255, 0.4);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto 0 20px;
}

#posts-grid {
    padding: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 10px;
}

#posts-container .post {
    padding: 20px;
    background-color: #292929;
    border-radius: 8px;
    box-sizing: border-box;
    height: auto;
}

#posts-container .post .input-signature-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#posts-container .post .input-signature-container .signature {
    display: flex;
    align-items: baseline;
}

#posts-container .post .input-signature-container .signature .timestamp {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

#posts-container .post .input-signature-container .signature span {
    color: rgba(255, 255, 255, 0.2);
    margin: 0 5px;
}

#posts-container .post .input-signature-container .signature .author {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

#posts-container .post .input-signature-container .input {
    display: flex;
}

#posts-container .post .input-signature-container .input .delete {
    background-color: #393939;
    color: rgba(255, 255, 255, 0.6);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 0 5px 0 0;
}

#posts-container .post .input-signature-container .input .edit {
    background-color: #393939;
    color: rgba(255, 255, 255, 0.6);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.edited {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: #1e1e1e;
    color: grey;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 0 0 0 5px;
}

#posts-container .post .thumbnail {
    height: 175px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin: 0 0 20px 0;
}

#posts-container .post .text {
    margin: 0 0 20px 0;
}

#posts-container .post .text h2 {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 10px 0;
}

#posts-container .post .text p {
    font-size: 16px;
    color: grey;
}

/*activity-list*/
#activity-bar {
    padding: 25px;
    background-color: #292929;
}

#activity-bar h2 {
    font-size: 24px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
}

#participant-list {
    margin: 15px 0 0 0;
    padding: 0 80px 0 0;
}

#participant-list .participant {
    display: flex;
}

#participant-list .participant:not(:last-child) {
    margin: 0 0 15px 0;
}

#participant-list .participant .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 10px 0 0;
}

#participant-list .participant .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#participant-list .participant .text p {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    min-width: 80px;
}

#participant-list .participant .text h5 {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
