@import "https://unpkg.com/open-props/easings.min.css";

/*variables*/
:root {
    color-scheme: light;
    --bg-primary: rgba(225, 225, 225, 1);
    --bg-secondary: rgba(235, 235, 235, 1);
    --bg-opaque: rgba(225, 225, 225, 0.8);
    --button-bg: rgba(255, 255, 255, 1);
    --slider-bg: rgba(255, 255, 255, 1);
    --fg: rgba(20, 20, 20, 1);
    --fg-opaque: rgba(20, 20, 20, 0.4);
    --fg-translucent: rgba(20, 20, 20, 0.1);
    --shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0);
    --shadow-hover: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    color-scheme: dark;
    --bg-primary: rgba(20, 20, 20, 1);
    --bg-secondary: rgba(30, 30, 30, 1);
    --bg-opaque: rgba(20, 20, 20, 0.8);
    --button-bg: rgba(50, 50, 50, 1);
    --slider-bg: rgba(50, 50, 50, 1);
    --fg: rgba(255, 255, 255, 1);
    --fg-opaque: rgba(255, 255, 255, 0.4);
    --fg-translucent: rgba(255, 255, 255, 0.1);
    --shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
    0px 5px 10px 0px rgba(0, 0, 0, 0);
    --shadow-hover: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
    0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Satoshi, sans-serif;
    background-color: var(--bg-primary);
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

textarea {
    resize: none;
}

.constrain {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

/*index page*/
#landing {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#landing svg.logo {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

#landing h1 {
    font-size: 32px;
    font-weight: normal;
    color: var(--fg-opaque);
}

#landing h1 span {
    opacity: 1;
    font-weight: bold;
    color: var(--fg);
}

#landing h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--fg);
}

#landing #buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* dashboard */
#dashboard {
    height: 100lvh;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0;
}

/*sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(82, 41, 123, 1);
}

#sidebar svg.logo {
    height: 50px;
    width: auto;
    opacity: 0.2;
    color: rgba(255, 255, 255, 0.5);
}

/*main content*/
#main {
    overflow-x: auto;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--bg-opaque);
    backdrop-filter: blur(20px);
}

header h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--fg);
}

header button.theme {
    margin-left: auto;
}

/*main grid*/
#grid {
    position: relative;
    margin-bottom: 20px;
}

/*post*/
#grid .post {
    position: absolute;
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    display: grid;
    gap: 10px;
}

#grid .post .thumbnail {
    position: relative;
    max-height: 240px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

#grid .post .thumbnail img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#grid .post .author {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#grid .post .author img {
    height: 30px;
    width: auto;
    border-radius: 50%;
}

#grid .post .author .username {
    font-size: 18px;
    font-weight: 600;
    color: var(--fg-opaque);
}

#grid .post .text {
}

#grid .post .text h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--fg);
    margin: 0 0 10px 0;
}

#grid .post .text p {
    font-size: 16px;
    font-weight: 400;
    color: var(--fg);
}

#grid .post .controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

#grid .post .controls .timestamps .timestamp {
    font-size: 1rem;
    font-weight: 600;
    color: var(--fg);
    display: block;
}

#grid .post .controls .timestamps .edited {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--fg-opaque);
}

#grid .post .controls .timestamps .edited svg {
    height: 14px;
}

#grid .post .controls .buttons {
    display: flex;
    gap: 10px;
}

#grid .post .controls .buttons .delete {
    background-color: rgba(202, 65, 46, 1);
    color: rgba(255, 255, 255, 1);
}

/*users list*/
#activity {
    padding: 20px;
    background-color: var(--bg-secondary);
    max-width: 300px;
}

#activity .titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#activity .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--fg);
}

#members {
    margin: 15px 0 0 0;
}

#members .user {
    display: flex;
}

#members .user:not(:last-child) {
    margin: 0 0 15px 0;
}

#members .user .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 10px 0 0;
}

#members .user .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#members .user .text p {
    font-size: 12px;
    color: var(--fg-opaque);
    min-width: 80px;
}

#members .user .text h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--fg);
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*forms*/
section.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

section.header button.theme {
    margin-left: auto;
}

section.header svg.logo {
    height: 40px;
    width: auto;
}

form {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
}

form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form figure.previous {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px var(--fg-translucent);
    border-radius: 15px;
}

form figure.previous img {
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 240px;
    border-radius: 5px;
}

form figure.previous figcaption {
    display: block;
    padding: 5px 10px;
    background-color: var(--fg-translucent);
    border-radius: 5px;
}

form label {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--fg);
    display: block;
}

form p.tooltip {
    font-size: 0.8rem;
    color: var(--fg-opaque);
}

form .responsive {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input,
form textarea {
    border: unset;
    outline: unset;
    font-family: inherit;
    font-size: 1rem;
    /**/
    display: block;
    background-color: var(--button-bg);
    color: var(--fg);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    white-space: pre-wrap;
    width: 100%;
    transition: transform 200ms,
    box-shadow 200ms;
}

form textarea {
    min-height: 200px;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--fg-opaque);
}

form input:focus,
form textarea:focus {
    transform: scale(1.02);
    box-shadow: var(--shadow-hover);
}

form button[type="submit"] {
    border: unset;
    outline: unset;
    font-family: inherit;
    cursor: pointer;
    /**/
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    height: fit-content;
}

p.error {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    color: rgba(202, 65, 46, 1);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgba(202, 65, 46, .2);
    backdrop-filter: blur(5px) brightness(.6);
}

p.error.shown {
    display: block;
}

@media screen and (min-width: 768px) {
    form {
        max-width: 320px;
        margin: 0 auto;
    }

    form.file {
        max-width: unset;
        margin: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    form .input:has(textarea) {
        flex-grow: 1;
    }

    form textarea {
        flex-grow: 1;
    }
}

/*dropzone*/
form input[type="file"] {
    display: none;
}

.dropzone {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: transform 200ms,
    box-shadow 200ms;
}

.dropzone.active,
.dropzone:hover,
.dropzone:focus,
.dropzone:focus-visible {
    transform: scale(1.02);
    box-shadow: var(--shadow-hover);
}

.dropzone * {
    pointer-events: none;
}

.dropzone.active svg,
.dropzone:hover svg,
.dropzone:focus svg,
.dropzone:focus-visible svg {
    color: var(--fg-opaque);
}

.dropzone .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--fg-opaque);
}

.dropzone .details ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.dropzone .details ul li {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--bg-secondary);
}

.dropzone .details p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropzone .showcase {
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--fg-translucent);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.dropzone .showcase svg {
    height: 52px;
    width: auto;
    color: white;
}

/*button*/
.button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--fg);
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    transition: transform 200ms,
    box-shadow 200ms;
}

.button:hover,
.button:focus,
.button:focus-visible {
    transform: scale(1.05);
    box-shadow: var(--shadow-hover);
}

.button.purple {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

/*icon button*/
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--fg);
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    transition: transform 200ms,
    box-shadow 200ms;
}

.icon svg {
    height: 20px;
    width: auto;
}

.icon:hover,
.icon:focus,
.icon:focus-visible {
    transform: scale(1.05);
    box-shadow: var(--shadow-hover);
}

/*svg logo*/
svg.logo {
    color: var(--fg-translucent);
}

/*theme */
button.theme {
    border: unset;
    outline: unset;
    cursor: pointer;
    /**/
    height: auto;
    width: 50px; /* 44px + 6px */
    padding: 3px;
    background-color: var(--bg-secondary);
    border-radius: 50px;
    overflow: hidden;
}

button.theme .slider {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg);
    transition: transform 0.2s;
}

button.theme .slider svg {
    display: block;
    height: 16px;
    width: 16px;
}

button.theme .slider.toggled {
    transform: translateX(22px);
}

button.theme .slider svg > :is(.moon, .sun, .beams) {
    transform-origin: center center;
}

button.theme .slider svg > :is(.moon, .sun) {
    fill: var(--fg);
}

button.theme .slider svg > .beams {
    stroke: var(--fg);
    stroke-width: 2px;
}

[data-theme="dark"] button.theme .slider svg > .sun {
    transform: scale(1.6);
}

[data-theme="dark"] button.theme .slider svg > .beams {
    opacity: 0;
}

[data-theme="dark"] button.theme .slider svg > .moon > circle {
    transform: translate(-6px, 6px);
}

@media (prefers-reduced-motion: no-preference) {
    button.theme .slider svg > .sun {
        transition: transform 0.5s var(--ease-elastic-3);
    }

    button.theme .slider svg > .beams {
        transition: transform 0.5s var(--ease-elastic-4),
        opacity 0.5s;
    }

    button.theme .slider svg .moon > circle {
        transition: transform 0.25s var(--ease-out-5);
    }

    [data-theme="dark"] button.theme .slider svg > .sun {
        transform: scale(1.6);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
    }

    [data-theme="dark"] button.theme .slider svg > .beams {
        transform: rotate(-25deg);
        transition-duration: 0.15s;
    }

    [data-theme="dark"] button.theme .slider svg > .moon > circle {
        transition-delay: 0.25s;
        transition-duration: 0.5s;
    }
}
