/*general styles & reset*/
* {
    font-family: "Satochi", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

body {
    background-color: rgba(20, 20, 20, 1);
    color: rgba(255, 255, 255, 1);
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

a {
    color: cornflowerblue;
}

/*login, register & landing page container*/
.content-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

/*components*/
/*button*/
.button {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*icon button*/
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

.icon svg {
    height: 20px;
    width: auto;
}

.icon:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*index page*/
#landing {
    text-align: center;
    margin: auto;
    padding: 40px;
}

#landing img {
    height: 100px;
    opacity: 0.1;
    margin-bottom: 40px;
}

#landing h1 {
    font-size: 32px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

#landing h1 span {
    opacity: 1;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

#landing h3 {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

#landing #buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#landing #buttons #login {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

#landing #buttons #register {
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
}

/* forms */
form {
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 40px;
}

form .titlebar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

form .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

form .titlebar img {
    height: 40px;
    opacity: 0.2;
    margin-left: auto;
}

form .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

form .input {
    display: flex;
    flex-direction: column;
}

form .preview {
    display: flex;
    justify-content: space-between;
}

form .preview .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

form .preview .showcase {
    height: 120px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
    background-color: #292929;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

form input[type="file"] {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

form input[type="file"]::file-selector-button {
    all: unset;
    cursor: pointer;
    background-color: rgba(40, 40, 40, 1);
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 20px;
}

form label {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 5px 0;
}

form .input input,
form .input textarea {
    all: unset;
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
    padding: 14px 18px;
    border-radius: 8px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0),
        0px 5px 10px 0px rgba(0, 0, 0, 0);
    transition-duration: 200ms;
    white-space: pre-wrap;
}

form .input input::placeholder,
form .input textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

form .input input:focus,
form .input textarea:focus {
    transform: scale(1.01);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.05),
        0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

form #submit {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

form .error {
    color: rgba(202, 65, 46, 1);
    margin: 15px 0 0 0;
}

form .tooltip {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin: 5px 0 0 0;
}

/* dashboard */
#dashboard {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0;
}

/*sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(82, 41, 123, 1);
}

#sidebar img {
    height: 50px;
    width: 50px;
    opacity: 0.2;
}

/*#sidebar #logout {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
}*/

/*main content*/
#main {
    overflow-x: auto;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

#titlebar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(15px);
}

#titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin: 0 20px 0 0;
}

#titlebar #new-post {
    background-color: rgba(44, 44, 44, 1);
    color: rgba(255, 255, 255, 1);
}

/*main grid*/
#grid {
    padding: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 10px;
}

/*post*/
#grid .post {
    padding: 20px;
    background-color: rgba(40, 40, 40, 1);
    border-radius: 16px;
    box-sizing: border-box;
    height: auto;
}

#grid .post .controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#grid .post .controls .signature {
    display: flex;
    align-items: baseline;
}

#grid .post .controls .signature .timestamp {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

#grid .post .controls .signature span {
    color: rgba(255, 255, 255, 0.2);
    margin: 0 5px;
}

#grid .post .controls .signature .author {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

#grid .post .controls .buttons {
    display: flex;
}

#grid .post .controls .buttons .delete {
    background-color: rgba(202, 65, 46, 1);
    margin: 0 10px 0 0;
}

#grid .post .thumbnail {
    margin: 0 0 20px 0;
}

#grid .post .thumbnail img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

#grid .post .text {
    margin: 0 0 20px 0;
}

#grid .post .text h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 10px 0;
}

#grid .post .text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.edited {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: rgba(20, 20, 20, 1);
    color: rgba(255, 255, 255, 0.4);
    padding: 2px 5px;
    border-radius: 4px;
    margin: 0 0 0 5px;
}

/*TODO: update activity list style names*/
/*users list*/
#activity {
    padding: 25px;
}

#activity .titlebar {
    display: flex;
    gap: 40px;
}

#activity .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

#members {
    margin: 15px 0 0 0;
}

#members .participant {
    display: flex;
}

#members .participant:not(:last-child) {
    margin: 0 0 15px 0;
}

#members .participant .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 10px 0 0;
}

#members .participant .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#members .participant .text p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    min-width: 80px;
}

#members .participant .text h5 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
