/*easings*/
@import "https://unpkg.com/open-props/easings.min.css";

/*local font*/
@font-face {
    font-family: Satochi;
    src: url("../fonts/Satoshi.woff2") format("woff2"), url("../fonts/Satoshi.woff") format("woff"), url("../fonts/Satoshi.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Satochi;
    src: url("../fonts/Satoshi Italic.woff2") format("woff2"), url("../fonts/Satoshi Italic.woff") format("woff"), url("../fonts/Satoshi Italic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

/*variables*/
/*light mode first, then dark mode if setting*/
:root {
    color-scheme: light;
    --bg-primary: rgba(225, 225, 225, 1);
    --bg-secondary: rgba(235, 235, 235, 1);
    --bg-opaque: rgba(225, 225, 225, 0.8);
    --button-bg: rgba(255, 255, 255, 1);
    --slider-bg: rgba(255, 255, 255, 1);
    --fg: rgba(20, 20, 20, 1);
    --fg-opaque: rgba(20, 20, 20, 0.4);
    --fg-translucent: rgba(20, 20, 20, 0.1);
    --shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0);
    --shadow-hover: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    color-scheme: dark;
    --bg-primary: rgba(20, 20, 20, 1);
    --bg-secondary: rgba(30, 30, 30, 1);
    --bg-opaque: rgba(20, 20, 20, 0.8);
    --button-bg: rgba(50, 50, 50, 1);
    --slider-bg: rgba(50, 50, 50, 1);
    --fg: rgba(255, 255, 255, 1);
    --fg-opaque: rgba(255, 255, 255, 0.4);
    --fg-translucent: rgba(255, 255, 255, 0.1);
    --shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0), 0px 5px 10px 0px rgba(0, 0, 0, 0);
    --shadow-hover: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*general styles & reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Satochi, sans-serif;
    background-color: var(--bg-primary);
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

textarea {
    resize: none;
}

/*loader*/
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 5px;
}

.loader .ball {
    background-color: var(--fg);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: keyframes 1.2s infinite ease-in-out;
}

.loader .ball:nth-child(2) {
    animation-delay: 0.1s;
}

.loader .ball:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes keyframes {
    0% {
        scale: 0.2;
    }
    33% {
        scale: 1;
    }
    100% {
        scale: 0.2;
    }
}

/*login, register & landing page container*/
.content-container {
    height: 100lvh;
    width: 100%;
    display: flex;
}

/*components*/
/*button*/
.button {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 8px;
    color: var(--fg);
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    transition-duration: 200ms;
}

.button:hover,
.button:focus,
.button:focus-visible {
    transform: scale(1.05);
    box-shadow: var(--shadow-hover);
}

/*icon button*/
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--fg);
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    transition-duration: 200ms;
}

.icon svg {
    height: 20px;
    width: auto;
}

.icon:hover,
.icon:focus,
.icon:focus-visible {
    transform: scale(1.05);
    box-shadow: var(--shadow-hover);
}

/*theme toggle*/
.theme {
    margin-left: auto;
}

.theme .toggle {
    height: auto;
    background-color: var(--bg-secondary);
    width: 44px;
    padding: 3px;
    border-radius: 15.5px;
    overflow: hidden;
}

.theme .toggle .slider {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg);
    transition: transform 0.2s;
}

.theme .toggle .slider svg {
    height: 16px;
    width: 16px;
}

.theme .toggle .slider.toggled {
    transform: translateX(22px);
}

/*theme toggle svg*/
.theme .toggle .slider svg > :is(.moon, .sun, .beams) {
    transform-origin: center center;
}

.theme .toggle .slider svg > :is(.moon, .sun) {
    fill: var(--fg);
}

.theme .toggle .slider svg > .beams {
    stroke: var(--fg);
    stroke-width: 2px;
}

[data-theme="dark"] .theme .toggle .slider svg > .sun {
    transform: scale(1.6);
}

[data-theme="dark"] .theme .toggle .slider svg > .beams {
    opacity: 0;
}

[data-theme="dark"] .theme .toggle .slider svg > .moon > circle {
    transform: translate(-6px, 6px);
}

@media (prefers-reduced-motion: no-preference) {
    .theme .toggle .slider svg > .sun {
        transition: transform 0.5s var(--ease-elastic-3);
    }

    .theme .toggle .slider svg > .beams {
        transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s;
    }

    .theme .toggle .slider svg .moon > circle {
        transition: transform 0.25s var(--ease-out-5);
    }

    [data-theme="dark"] .theme .toggle .slider svg > .sun {
        transform: scale(1.6);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
    }

    [data-theme="dark"] .theme .toggle .slider svg > .beams {
        transform: rotate(-25deg);
        transition-duration: 0.15s;
    }

    [data-theme="dark"] .theme .toggle .slider svg > .moon > circle {
        transition-delay: 0.25s;
        transition-duration: 0.5s;
    }
}

#overlays {
    height: 100lvh;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    background-color: var(--bg-opaque);
}

#overlays section.edit {
    position: relative;
    overflow-x: auto;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    background-color: var(--bg-secondary);
}

/* forms */
form {
    width: 100%;
    max-width: 960px;
    position: relative;
}

form.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: progress;
}

form .titlebar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

form .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--fg);
}

form .titlebar img {
    height: 40px;
    opacity: 0.2;
    margin-left: auto;
}

form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form .inputs .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

form .inputs .left {
    display: grid;
    grid-template-rows: repeat(min-content);
    gap: 20px;
}

form .input {
    position: relative;
    display: grid;
    grid-template-columns: repeat(min-content);
    gap: 10px;
}

/*HACK: hidden file input handled only via javascript*/
form .input input[type="file"] {
    display: none;
}

form .input .grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 20px;
}

form .input .grid .dropzone {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    background-color: var(--button-bg);
    box-shadow: var(--shadow);
    transition-duration: 200ms;
    cursor: pointer;
}

form .input .grid .dropzone.active,
form .input .grid .dropzone:hover,
form .input .grid .dropzone:focus,
form .input .grid .dropzone:focus-visible {
    transform: scale(1.02);
    box-shadow: var(--shadow-hover);
}

form .input .grid .dropzone svg {
    height: 40px;
    color: var(--fg-translucent);
    transition-duration: 200ms;
}

form .input .grid .dropzone * {
    pointer-events: none;
}

form .input .grid .dropzone.active svg,
form .input .grid .dropzone:hover svg,
form .input .grid .dropzone:focus svg,
form .input .grid .dropzone:focus-visible svg {
    color: var(--fg-opaque);
}

form .input .grid .dropzone .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--fg-opaque);
}

form .input .grid .dropzone .details ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

form .input .grid .dropzone .details ul li {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--bg-secondary);
}

form .input .grid .dropzone .details p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form .input .grid .showcase {
    margin: 2px;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 2px var(--fg-translucent);
    height: 130px;
    width: 130px;
}

form .input .grid .showcase svg {
    height: 52px;
    width: auto;
    color: var(--fg-translucent);
}

form label {
    font-weight: 600;
    font-size: 18px;
    color: var(--fg);
}

form .tooltip {
    font-size: 12px;
    color: var(--fg-opaque);
}

form .input input,
form .input textarea {
    all: unset;
    background-color: var(--button-bg);
    color: var(--fg);
    padding: 14px 18px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition-duration: 200ms;
    white-space: pre-wrap;
}

form .input input::placeholder,
form .input textarea::placeholder {
    color: var(--fg-opaque);
}

form .input input:focus,
form .input textarea:focus {
    transform: scale(1.02);
    box-shadow: var(--shadow-hover);
}

form #submit {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

form .error {
    color: rgba(202, 65, 46, 1);
    font-weight: 600;
    margin: 10px 0;
}

/*index page*/
#landing {
    text-align: center;
    margin: auto;
    padding: 40px;
}

#landing img {
    height: 100px;
    opacity: 0.1;
    margin-bottom: 40px;
}

#landing h1 {
    font-size: 32px;
    font-weight: 200;
    color: var(--fg-opaque);
    margin-bottom: 5px;
}

#landing h1 span {
    opacity: 1;
    font-weight: 600;
    color: var(--fg);
}

#landing h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    color: var(--fg);
}

#landing #buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#landing #buttons #login {
    background-color: rgba(82, 41, 123, 1);
    color: rgba(255, 255, 255, 1);
}

/* dashboard */
#dashboard {
    height: 100lvh;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0;
}

/*sidebar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(82, 41, 123, 1);
}

#sidebar img {
    height: 50px;
    width: 50px;
    opacity: 0.2;
}

/*main content*/
#main {
    overflow-x: auto;
}

#titlebar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-opaque);
    backdrop-filter: blur(20px);
}

#titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--fg);
    margin: 0 20px 0 0;
}

/*main grid*/
#grid {
    padding: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 10px;
}

/*post*/
#grid .post {
    padding: 20px;
    background-color: var(--bg-secondary);
    border-radius: 16px;
    box-sizing: border-box;
    height: auto;
}

#grid .post .thumbnail {
    margin: 0 0 20px 0;
    border-radius: 8px;
}

#grid .post .thumbnail img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

#grid .post .author {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#grid .post .author img {
    height: 30px;
    width: auto;
    border-radius: 50%;
}

#grid .post .author .username {
    font-size: 18px;
    font-weight: 600;
    color: var(--fg-opaque);
}

#grid .post .text {
    margin: 0 0 20px 0;
}

#grid .post .text h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--fg);
    margin: 0 0 10px 0;
}

#grid .post .text p {
    font-size: 16px;
    font-weight: 400;
    color: var(--fg);
}

#grid .post .controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#grid .post .controls .timestamps .timestamp {
    font-size: 18px;
    font-weight: 600;
    color: var(--fg);
}

#grid .post .controls .timestamps .edited {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--fg-opaque);
}

#grid .post .controls .timestamps .edited svg {
    height: 14px;
}

#grid .post .controls .buttons {
    display: flex;
    gap: 10px;
}

#grid .post .controls .buttons .delete {
    background-color: rgba(202, 65, 46, 1);
    color: rgba(255, 255, 255, 1);
}

/*users list*/
#activity {
    padding: 20px;
    background-color: var(--bg-secondary);
}

#activity .titlebar {
    display: flex;
    align-items: center;
    gap: 40px;
}

#activity .titlebar h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--fg);
}

#members {
    margin: 15px 0 0 0;
}

#members .user {
    display: flex;
}

#members .user:not(:last-child) {
    margin: 0 0 15px 0;
}

#members .user .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 10px 0 0;
}

#members .user .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#members .user .text p {
    font-size: 12px;
    color: var(--fg-opaque);
    min-width: 80px;
}

#members .user .text h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--fg);
}
